.EditText{
    padding-top:15px
}
.EditText-Title{
    margin-bottom:30px
}
.EditText-Section{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    width:100%;
    margin-bottom:20px
}
.EditText-Section--size_half{
    width:50%
}
@media(max-width:768px){
    .EditText-Section--size_half{
        width:100%
    }
}
@media(max-width:768px){
    .EditText-Info{
        display:block
    }
}
.EditText-Input{
    position:relative;
    width:100%
}
.Autocomplete.EditText-Input {
    position: relative;
}

.Autocomplete.EditText-Input::before {
    content: "Для добавления тэга нажмите Enter";
    position: absolute;
    top: 25%;
    left: 20%;
    pointer-events: none;
    font-size: 12px; /* Размер шрифта, если нужно уменьшить */
    color: #888; /* Цвет текста, если нужно изменить */
    transition: opacity 0.3s;
}

.Autocomplete.EditText-Input:hover::before {
    opacity: 0;
}

/* Для возвращения описания при фокусировке поля */
.Autocomplete.EditText-Input input:focus + ::before {
    opacity: 1;
}
.EditText-Input .Input{
    padding:7px 16px
}
.EditText-Date{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-right:10px
}
@media(max-width:768px){
    .EditText-Date{
        margin-bottom:20px
    }
}
.EditText-Date .Input{
    padding:4px 16px
}
.EditText-Label--width_fixed{
    width:130px
}
@media(max-width:768px){
    .EditText-Label--width_fixed{
        width:auto
    }
}
.EditText-Label{
    -ms-flex-negative:0;
    flex-shrink:0;
    margin-right:10px;
    font-size:1.4rem
}
.EditText-Hide .CheckForm-Value{
    margin-bottom:0;
    padding-left:40px
}
.EditText-Hide .CheckForm-Value:before{
    top:-7px;
    width:28px;
    height:28px
}
.EditText-Text{
    margin-bottom:20px;
    padding:27px 10px 65px 10px;
    background-color:var(--color-layout-primary);
    border-radius:20px
}
.EditText-Tags{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
}
@media(max-width:768px){
    .EditText-Tags{
        display:block;
        margin-bottom:25px
    }
}
.EditText-AddTags{
    -ms-flex-negative:0;
    flex-shrink:0
}
.EditText-TagsArea{
    padding-left:25px
}
.EditText-Tag{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    margin-right:15px;
    margin-bottom:10px;
    padding:0;
    font-size:1.2rem
}
.EditText-Buttons{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.EditText .ve-design{
    height:250px
}
.EditText .ve-code{
    min-height:250px
}
.Tag-Text{
    display:inline-block;
    padding:8px 0 7px 16px
}
.Tag-Delete{
    padding-left:15px;
    padding:8px 8px 7px 16px;
    fill:var(--color-lightest)
}
